* {
	box-sizing: border-box;
}

.blogcard {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.6%;
	background: #6f42c1;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
}

.blogcard:hover .photo {
	transform: scale(1.3) rotate(3deg);
}

.blogcard .meta {
	position: relative;
	z-index: 0;
	height: 200px;
}
.blogcard .photo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	transition: transform 0.2s;
}

.blogcard .details ul {
	margin: auto;
	padding: 0;
	list-style: none;
}
.blogcard .details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	margin: auto;
	transition: left 0.2s;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 10px;
	width: 100%;
	font-size: 0.9rem;
}

.blogcard .description {
	padding: 1rem;
	background: #6f42c1;
	position: relative;
	z-index: 1;
}

.blogcard .description h1 {
	line-height: 1;
	margin: 0;
	font-size: 1.7rem;
}

.blogcard p {
	position: relative;
	margin: 1rem 0 0;
}
.blogcard p:first-of-type {
	margin-top: 1.25rem;
}
.blogcard p:first-of-type:before {
	content: '';
	position: absolute;
	height: 5px;
	background: #5ad67d;
	width: 35px;
	top: -0.75rem;
	border-radius: 3px;
}
.blogcard:hover .details {
	left: 0%;
}

.btn {
	margin: 2rem;
}
@media (min-width: 640px) {
	.blogcard {
		flex-direction: row;
		max-width: 700px;
	}
	.blogcard .meta {
		flex-basis: 40%;
		height: auto;
	}
	.blogcard .description {
		flex-basis: 60%;
	}
	.blogcard .description:before {
		transform: skewX(-3deg);
		content: '';
		background: #6f42c1;
		width: 30px;
		position: absolute;
		left: -10px;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.blogcard.alt {
		flex-direction: row-reverse;
	}
	.blogcard.alt .description:before {
		left: inherit;
		right: -10px;
		transform: skew(3deg);
	}
	.blogcard.alt .details {
		padding-left: 25px;
	}
}
