.container {
	border: 1px solid black;
	width: fit-content;
	height: fit-content;
	padding: 0.5rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 5px black;
	margin: 2rem 0;
	background-color: rgb(145, 117, 172);
}

.close {
	width: fit-content;
	height: fit-content;
	border-radius: 5px;
	border: none;
	align-self: flex-end;
}

.photo {
	border-radius: 10px;
	box-shadow: 0 0 3px black;
}

.name {
	margin: 0.7rem;
}

.stats {
	margin: 0.5rem;
	align-self: flex-start;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.3rem;
	min-width: 5rem;
}
